{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["standard", "plugin:prettier/recommended", "prettier/standard", "plugin:@typescript-eslint/recommended"],

  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/interface-name-prefix": [
      "error",
      {
        "prefixWithI": "always"
      }
    ]
  }
}
